* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button, .button-shows {
  font-weight: 900;
  font-size: 20px;
  background-color: #f67723;
  padding: 20px 45px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  border-radius: 50px;
}

.button:hover, .button-shows:hover {
  background-color: #f67723c9;
  color: white;
}

.button-shows:hover {
  margin-right: 10px;
}

@media only screen and (max-width: 700px) {
  .button-shows {
    width: 100%;
  }
  .button-shows:hover {
    margin-right: 0px;
  }
}

#btn-menu {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  z-index: 98;
  width: 100%;
  background-color: #11111170;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.header label {
  display: none;
  width: 42px;
  height: 42px;
  margin: 10px;
}

.header label:hover {
  cursor: pointer;
}

.header label img {
  width: 42px;
}

.header .menu-header {
  padding: 25px 0;
  background-color: #11111179;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.header .menu-header .menu-header__ul {
  text-decoration: none;
  width: 100%;
  margin: auto;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .menu-header .menu-header__ul .menu-header__li {
  display: inline-block;
  text-align: center;
  position: relative;
}

.header .menu-header .menu-header__ul .menu-header__li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 10px;
  font-size: 24px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .menu-header .menu-header__ul .menu-header__li a:hover {
  color: #F47B22;
}

@media only screen and (max-width: 768px) {
  .header {
    background-color: #11111100;
  }
  .header label {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
  }
  .header .menu-header {
    position: absolute;
    background-color: #111111ce;
    width: 100%;
    margin-left: 200%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .menu-header .menu-header__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .header .menu-header .menu-header__ul .menu-header__li a {
    font-size: 3em;
  }
  #btn-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #btn-menu:checked ~ .menu-header {
    margin: 0;
    z-index: 0;
  }
}

.social-footer {
  background-color: #111111;
  padding: 40px 0;
  height: 20vh;
}

.social-footer .social-footer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.social-footer .social-footer__div .social-footer__images {
  display: inline-block;
  width: 64px;
  margin: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-footer .social-footer__div .social-footer__images:hover {
  margin: 10px 10px 25px 10px;
}

@media only screen and (max-width: 768px) {
  .social-footer .social-footer__div .social-footer__images {
    width: 42px;
  }
}

.hero-main {
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), color-stop(7%, rgba(17, 17, 17, 0.5)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(92%, #111111), to(#111111)), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0.5) 7%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, #111111 92%, #111111 100%), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-main .hero-main__div {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-main .hero-main__div .hero-main__image {
  display: block;
  width: 35vw;
  margin: 15px;
}

.hero-main .hero-main__div h1 {
  margin: 15px;
}

@media only screen and (max-width: 1200px) {
  .hero-main .hero-main__div .hero-main__image {
    width: 65vw;
  }
  .hero-main .hero-main__div h1 {
    font-size: 32px;
  }
}

.buyalbum {
  background: url(../img/background2.jpg) repeat fixed 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.buyalbum .buyalbum__grid {
  display: -ms-grid;
  display: grid;
  width: 75%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buyalbum .buyalbum__right h2 {
  font-size: 42px;
}

.buyalbum .buyalbum__right p {
  font-size: 20px;
  margin: 20px;
  font-weight: 300;
}

.buyalbum .buyalbum__left img {
  width: 100%;
}

.buyalbum .buyalbum__right img {
  width: 80%;
}

@media only screen and (max-width: 1200px) {
  .buyalbum {
    height: auto;
  }
  .buyalbum .buyalbum__grid {
    width: 90%;
    padding: 50px 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.videos-home {
  background: url(../img/background2.jpg) repeat fixed 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.videos-home h2 {
  font-size: 42px;
  margin: 20px;
}

.videos-home .videos-home__container {
  width: 75%;
}

.videos-home .videos-home__container iframe {
  width: 100%;
  height: 650px;
}

.videos-home .videos-home__container .videos-home__iframe {
  display: block;
}

.videos-home .videos-home__container .videos-home__iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .videos-home {
    height: auto;
  }
  .videos-home .videos-home__container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 90%;
  }
  .videos-home .videos-home__container iframe {
    width: 100%;
    height: 420px;
  }
}

.hero-shows {
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), color-stop(7%, rgba(17, 17, 17, 0.5)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(92%, #111111), to(#111111)), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0.5) 7%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, #111111 92%, #111111 100%), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-shows .hero-shows__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-shows .hero-shows__div .hero-shows__image {
  display: block;
  width: 35vw;
  margin: 25px;
}

@media only screen and (max-width: 1200px) {
  .hero-shows .hero-shows__div .hero-shows__image {
    display: block;
    width: 65vw;
    margin: 25px;
  }
  .hero-shows .hero-shows__div h1 {
    font-size: 32px;
  }
}

.shows-page {
  background: url(../img/background2.jpg) repeat fixed 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 0 50px 0;
}

.shows-page .shows-page__tittle {
  padding: 15px 0;
  width: 75%;
}

.shows-page .shows-page__tittle h2 {
  font-size: 42px;
  padding: 35px 0;
  text-align: left;
}

.shows-page .shows-page__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 75%;
  border-bottom: solid 1px white;
  padding: 35px 0;
}

.shows-page .shows-page__grid .shows-page__datecolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shows-page .shows-page__grid .shows-page__datecolumn .shows-page__date {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  margin-bottom: 0;
}

.shows-page .shows-page__grid .shows-page__datecolumn .shows-page__place {
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.shows-page .shows-page__grid .shows-page__datecolumn .shows-page__location {
  font-weight: 800;
  font-size: 36px;
  color: #f67723;
  text-align: left;
  padding: 0;
  margin: 0;
}

.shows-page .shows-page__grid .shows-page__buybtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.shows-page .shows-page__grid--firts {
  padding-top: 0;
}

@media only screen and (max-width: 768px) {
  .shows-page .shows-page__tittle {
    width: 90%;
  }
  .shows-page .shows-page__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 20px;
    width: 90%;
  }
  .shows-page .shows-page__grid .shows-page__datecolumn .shows-page__date::after {
    width: 60vw;
  }
  .shows-page .shows-page__grid .shows-page__buybtn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-merch {
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), color-stop(7%, rgba(17, 17, 17, 0.5)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(92%, #111111), to(#111111)), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0.5) 7%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, #111111 92%, #111111 100%), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-merch .hero-merch__div {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-merch .hero-merch__div .hero-merch__image {
  display: block;
  width: 35vw;
  margin: 25px;
}

@media only screen and (max-width: 1200px) {
  .hero-merch .hero-merch__div .hero-merch__image {
    display: block;
    width: 65vw;
    margin: 25px;
  }
  .hero-merch .hero-merch__div h1 {
    font-size: 32px;
  }
}

.merch-page {
  background: url(../img/background2.jpg) repeat fixed 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 35px 0;
}

.merch-page .merch-page__tittle {
  padding: 15px 0;
  width: 75%;
}

.merch-page .merch-page__tittle h2 {
  font-size: 42px;
  padding: 35px 0;
  text-align: left;
}

.merch-page .merch-page__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  margin: 0 auto;
  width: 75%;
}

.merch-page .merch-page__grid .merch-page__product img {
  width: 100%;
}

.merch-page .merch-page__grid .merch-page__product img:hover {
  opacity: 0.75;
}

.merch-page .merch-page__grid .merch-page__product h3 {
  text-align: left;
}

.merch-page .merch-page__grid .merch-page__product p {
  text-align: left;
  color: #F47B22;
}

@media only screen and (max-width: 1280px) {
  .merch-page .merch-page__tittle {
    width: 90%;
  }
  .merch-page .merch-page__tittle h2 {
    font-size: 42px;
  }
  .merch-page .merch-page__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .merch-page .merch-page__grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
}

.hero-band {
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), color-stop(7%, rgba(17, 17, 17, 0.5)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(92%, #111111), to(#111111)), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0.5) 7%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, #111111 92%, #111111 100%), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-band .hero-band__div {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-band .hero-band__div .hero-band__image {
  display: block;
  width: 35vw;
  margin: 25px;
}

@media only screen and (max-width: 1200px) {
  .hero-band .hero-band__div .hero-band__image {
    display: block;
    width: 65vw;
    margin: 25px;
  }
  .hero-band .hero-band__div h1 {
    font-size: 36px;
  }
}

.band-page {
  background: url(../img/background2.jpg) repeat fixed 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 50px 0;
}

.band-page .band-page__tittle {
  padding: 15px 0;
  width: 75%;
}

.band-page .band-page__tittle h2 {
  font-size: 42px;
  padding: 35px 0;
  text-align: left;
}

.band-page .band-page__members {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  width: 75%;
}

.band-page .band-page__members .band-page__card .band-page__images {
  width: 100%;
}

.band-page .band-page__members .band-page__card .band-page__images:hover {
  opacity: 0.75;
}

.band-page .band-page__members .band-page__card h3 {
  text-align: left;
}

.band-page .band-page__members .band-page__card p {
  text-align: left;
  color: #F47B22;
}

.band-page .band-page__oldmembers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  width: 75%;
}

.band-page .band-page__oldmembers .band-page__card img {
  width: 100%;
}

.band-page .band-page__oldmembers .band-page__card img:hover {
  opacity: 0.75;
}

.band-page .band-page__oldmembers .band-page__card h3 {
  text-align: left;
}

.band-page .band-page__oldmembers .band-page__card p {
  text-align: left;
  color: #F47B22;
}

@media only screen and (max-width: 1280px) {
  .band-page .band-page__members {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .band-page .band-page__oldmembers {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
}

.hero-discography {
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), color-stop(7%, rgba(17, 17, 17, 0.5)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(92%, #111111), to(#111111)), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0.5) 7%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, #111111 92%, #111111 100%), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-discography .hero-discography__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-discography .hero-discography__div .hero-discography__image {
  display: block;
  width: 35vw;
  margin: 25px;
}

@media only screen and (max-width: 1200px) {
  .hero-discography .hero-discography__div .hero-discography__image {
    display: block;
    width: 65vw;
    margin: 25px;
  }
  .hero-discography .hero-discography__div h1 {
    font-size: 42px;
  }
}

.discography-page {
  background: url(../img/background2.jpg) repeat fixed 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 50px 0;
}

.discography-page .discography-page__h2 {
  padding: 15px 0;
  width: 75%;
}

.discography-page .discography-page__h2 h2 {
  font-size: 42px;
  padding: 35px 0;
  text-align: left;
}

.discography-page .discography-page__disc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 75%;
}

.discography-page .discography-page__disc .discography-page__card img {
  width: 100%;
  height: auto;
}

.discography-page .discography-page__disc .discography-page__card img:hover {
  opacity: 0.75;
}

.discography-page .discography-page__disc .discography-page__card h3 {
  text-align: left;
}

.discography-page .discography-page__disc .discography-page__card p {
  text-align: left;
  color: #F47B22;
}

.discography-page .discography-page__singles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 25px;
  width: 75%;
}

.discography-page .discography-page__singles .discography-page__card img {
  width: 100%;
}

.discography-page .discography-page__singles .discography-page__card img:hover {
  opacity: 0.75;
}

.discography-page .discography-page__singles .discography-page__card h3 {
  text-align: left;
}

.discography-page .discography-page__singles .discography-page__card p {
  text-align: left;
  color: #F47B22;
}

@media only screen and (max-width: 1280px) {
  .discography-page .discography-page__h2 {
    width: 90%;
  }
  .discography-page .discography-page__disc {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 90%;
  }
  .discography-page .discography-page__singles {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 90%;
  }
}

.hero-contact {
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), color-stop(7%, rgba(17, 17, 17, 0.5)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(92%, #111111), to(#111111)), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0.5) 7%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, #111111 92%, #111111 100%), url(../img/octafonic-banda5.jpg) repeat fixed 100%;
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .hero-contact .hero-contact__div .hero-contact__image {
    display: block;
    width: 65vw;
    margin: 25px;
  }
  .hero-contact .hero-contact__div h1 {
    font-size: 32px;
  }
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 50px 0;
}

.form-section .contact-page__h2 {
  padding: 15px 0;
  width: 75%;
  width: 50%;
}

.form-section .contact-page__h2 h2 {
  font-size: 42px;
  padding: 35px 0;
  text-align: left;
}

.form-section div {
  margin: 10px 0;
}

.form-section .form-section__contact {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-section .form-section__textarea textarea {
  width: 100%;
  font-size: 18px;
}

.form-section input {
  font-size: 18px;
  width: 100%;
}

.form-section input input::-webkit-input-placeholder {
  padding: 10px;
}

.form-section input input:-ms-input-placeholder {
  padding: 10px;
}

.form-section input input::-ms-input-placeholder {
  padding: 10px;
}

.form-section input input::placeholder {
  padding: 10px;
}

.form-section label {
  font-size: 18px;
}

.form-section .form-section__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section .form-section__newsletter input {
  display: inline-block;
  width: 5%;
}

.form-section .form-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-section .form-section__button input[type="submit"] {
  width: 100%;
  background-color: #F47B22;
  color: white;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  border-radius: 50px;
}

@media only screen and (max-width: 1200px) {
  .form-section .contact-page__h2 {
    width: 90%;
  }
  .form-section .form-section__contact {
    width: 90%;
  }
}

.shows-footer {
  padding: 100px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#111111), color-stop(7%, rgba(17, 17, 17, 0.5)), color-stop(15%, rgba(0, 0, 0, 0)), color-stop(85%, rgba(0, 0, 0, 0)), color-stop(92%, #111111), to(#111111)), url(../img/octafonic-banda5.jpg);
  background: linear-gradient(0deg, #111111 0%, rgba(17, 17, 17, 0.5) 7%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, #111111 92%, #111111 100%), url(../img/octafonic-banda5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shows-footer .shows-footer__image {
  display: block;
  width: 35vw;
  margin: 15px;
}

@media only screen and (max-width: 1200px) {
  .shows-footer .shows-footer__image {
    width: 70vw;
    margin: 15px;
  }
}

body {
  background-color: #111111;
  color: white;
  text-align: center;
}

body a {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body P {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
}

body h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body h4 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body h5 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body h6 {
  color: white;
  font-family: 'Roboto', sans-serif;
}
