body {
  background-color: #111111;
  color: white;
  text-align: center;
}

body i {
  color: white;
  font-size: 36px;
}

body a {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
}

body h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body h4 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body h5 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body h6 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.form-section .form-section__contact {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-section .form-section__textarea textarea {
  width: 100%;
  font-size: 18px;
}

.form-section input {
  font-size: 18px;
  width: 100%;
}

.form-section input input::-webkit-input-placeholder {
  padding: 10px;
}

.form-section input input:-ms-input-placeholder {
  padding: 10px;
}

.form-section input input::-ms-input-placeholder {
  padding: 10px;
}

.form-section input input::placeholder {
  padding: 10px;
}

.form-section label {
  font-size: 18px;
}

.form-section .form-section__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-section .form-section__newsletter input {
  display: inline-block;
  width: 5%;
}

.form-section .form-section__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-section .form-section__button input {
  width: 100%;
  background-color: #f67723;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.social-footer {
  background-color: #111111;
  padding: 40px 0;
}

.social-footer .social-footer__tittle {
  font-size: 28px;
  font-weight: 300;
  padding: 10px;
}

.social-footer .social-footer__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.social-footer .social-footer__div .social-footer__images {
  display: inline-block;
  width: 64px;
  margin: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-footer .social-footer__div .social-footer__images:hover {
  margin: 10px 10px 25px 10px;
}

.header {
  height: 10vh;
}

.header .menu-header {
  padding: 30px 0 10px 0;
}

.header .menu-header .menu-header__ul {
  text-decoration: none;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 5px;
}

.header .menu-header .menu-header__ul .menu-header__li {
  display: inline-block;
  text-align: center;
  position: relative;
}

.header .menu-header .menu-header__ul .menu-header__li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .menu-header .menu-header__ul .menu-header__li a:hover {
  color: #f67723;
  margin: 5px 5px 10px 5px;
}

.button, .button-shows {
  font-weight: 700;
  font-size: 26px;
  background-color: #f67723;
  padding: 25px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}

.button:hover, .button-shows:hover {
  background-color: #f67723c9;
  color: white;
}

.button-shows:hover {
  margin-right: 10px;
}
