.hero-band {
    @include hero-section;
    .hero-band__div {
        @include hero-div;
    }
}

@media only screen and (max-width: 1200px){
    .hero-band {
        @include hero-section--responsive;
        .hero-band__div {
            @include hero-div--responsive;
        }
    }
}

.band-page {
    background: url(../img/background.jpg) repeat fixed 100%;
    @include flex-section;
    .band-page__tittle {
        @include tittle;
        width: $global-width;
    }
    .band-page__members {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: $global-gap;
        width: $global-width;
        .band-page__card {
            @include card;
        }
    }
    .band-page__oldmembers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: $global-gap;
        width: $global-width;
        .band-page__card {
            @include card;
        }
    }
}

@media only screen and (max-width: 1200px){
    .band-page {
        padding: $section-padding--responsive;
        .band-page__tittle {
            @include tittle-responsive;
        }
        .band-page__members {
            grid-template-columns: repeat(2, 1fr);
            width: $global-width-responsive;
        }
        .band-page__oldmembers {
            grid-template-columns: repeat(2, 1fr);
            width: $global-width-responsive;
        }
    }
}