.form-section {
    display: flex;
    justify-content: center;
    align-items: left;
    div {
        margin: 10px 0;
    }
    .form-section__contact {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .form-section__textarea {
            textarea {
                width: 100%;
                font-size: 18px;
            }
    }
    input {
        font-size: 18px;
        width: 100%;
        input::placeholder {
            padding: 10px;
        }
    }
    label {
            font-size: 18px;
    }
    .form-section__newsletter {
        display: flex;
        input {
            display: inline-block;
            width: 5%;
        }
    }
    .form-section__button {
        display: flex;
        justify-content: center;
        input {
            width: 100%;
            background-color: $primary-global-color;
            color: white;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 600;
        }
    }
}