.hero-contact {
    @include hero-section;
    .hero-contact__div {
        @include hero-div;
    }
}

@media only screen and (max-width: 1200px){
    .hero-contact {
        @include hero-section--responsive;
        .hero-contact__div {
            @include hero-div--responsive;
        }
    }
}

.form-section {
    background: url(../img/background.jpg) repeat fixed 100%;
    @include flex-section;
    .contact-page__h2 {
        @include tittle;
        width: 50%;
    }
    div {
        margin: 10px 0;
    }
    .form-section__contact {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .form-section__textarea {
            textarea {
                width: 100%;
                font-size: 18px;
            }
    }
    input {
        font-size: 18px;
        width: 100%;
        input::placeholder {
            padding: 10px;
        }
    }
    label {
            font-size: 18px;
    }
    .form-section__newsletter {
        display: flex;
        input {
            display: inline-block;
            width: 5%;
        }
    }
    .form-section__button {
        display: flex;
        justify-content: center;
        input[type="submit"] {
            width: 100%;
            background-color: $primary-global-color;
            color: white;
            padding: 20px 0;
            font-size: 24px;
            font-weight: 600;
            border-radius: 50px;
        }
    }
}

@media only screen and (max-width: 1200px){
    .form-section {
        padding: $section-padding--responsive;
        .contact-page__h2 {
            @include tittle-responsive;
            width: $global-width-responsive;
        }
        .form-section__contact {
            width: $global-width-responsive;
        }
    }
}