.hero-contact {
    background:
    linear-gradient(0deg, rgba(17, 17, 17, 1) 0%,rgba(17, 17, 17,0.5) 7%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%,rgba(17, 17, 17,1) 92%, rgba(17, 17, 17, 1) 100%),url(../img/octafonic-banda5.jpg) repeat fixed 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .hero-contact__div {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hero-contact__image {
            display: block;
            width: 35vw;
            margin: 25px;
        }
    }
}

@media only screen and (max-width: 1200px){
    .hero-contact {
        .hero-contact__div {
            .hero-contact__image {
                display: block;
                width: 65vw;
                margin: 25px;
            }
            h1 {
                font-size: 32px;
            }
        }
    }
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-page__h2 {
        display: flex;
        padding: 15px 0;
        width: 75%;
        justify-content: flex-start;
        h2 {
            font-size: 42px;
            padding: 35px 0;
        }
    }
    div {
        margin: 10px 0;
    }
    .form-section__contact {
        width: 75%;
        display: flex;
        flex-direction: column;
    }
    .form-section__textarea {
            textarea {
                width: 100%;
                font-size: 18px;
            }
    }
    input {
        font-size: 18px;
        width: 100%;
        input::placeholder {
            padding: 10px;
        }
    }
    label {
            font-size: 18px;
    }
    .form-section__newsletter {
        display: flex;
        input {
            display: inline-block;
            width: 5%;
        }
    }
    .form-section__button {
        display: flex;
        justify-content: center;
        input {
            width: 100%;
            background-color: $primary-global-color;
            color: white;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 1200px){
    .form-section {
        .form-section__contact {
            width: 90%;
        }
    }
}