.hero-discography {
    @include hero-section;
    .hero-discography__div {
        @include hero-div;
    }
}

@media only screen and (max-width: 1200px){
    .hero-discography {
        @include hero-section--responsive;
        .hero-discography__div {
            @include hero-div--responsive;
        }
    }
}

.discography-page {
    background: url(../img/background.jpg) repeat fixed 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $section-padding;
    .discography-page__h2 {
        @include tittle;
        width: $global-width;
    }
    .discography-page__disc {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $global-gap;
        width: $global-width;
        .discography-page__card {
            @include card;
        }
    }
    .discography-page__singles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: $global-gap;
        width: $global-width;
        .discography-page__card {
            @include card;
        }
    }
}

@media only screen and (max-width: 1200px){
    .discography-page {
        padding: $section-padding--responsive;
        .discography-page__h2 {
            @include tittle-responsive;
            width: $global-width-responsive;
        }
        .discography-page__disc {
            grid-template-columns: repeat(2, 1fr);
            width: $global-width-responsive;
        }
        .discography-page__singles {
            grid-template-columns: repeat(2, 1fr);
            width: $global-width-responsive;
        }
    }
}
