.hero-discography {
    @include hero-section;
    .hero-discography__div {
        @include hero-section__div;
        .hero-discography__image {
            @include hero-section__image;
        }
    }
}

@media only screen and (max-width: 1200px){
    .hero-discography {
        .hero-discography__div {
            .hero-discography__image {
                display: block;
                width: 65vw;
                margin: 25px;
            }
            h1 {
                font-size: 42px;
            }
        }
    }
}

.discography-page {
    background: url(../img/background2.jpg) repeat fixed 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 0 50px 0;
    .discography-page__h2 {
        @include tittle;
    }
    .discography-page__disc {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        width: $global-width;
        .discography-page__card {
            img {
                width: 100%;
                height: auto;
                &:hover {
                    @include image-hover;
                }
            }
            h3 {
                text-align: left;
            }
            p {
                text-align: left;
                color: $primary-global-color;
            }
        }
    }
    .discography-page__singles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 25px;
        width: $global-width;
        .discography-page__card {
            img {
                width: 100%;
                &:hover {
                    @include image-hover;
                }
            }
            h3 {
                text-align: left;
            }
            p {
                text-align: left;
                color: $primary-global-color;
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    .discography-page {
        .discography-page__h2 {
            width: 90%;
        }
        .discography-page__disc {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            width: 90%;
        }
        .discography-page__singles {
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            width: 90%;
        }
    }
}
