.social-footer {
    background-color: $secondary-global-color;
    padding: 40px 0;
    .social-footer__tittle {   
        font-size: 28px;
        font-weight: 300;
        padding: 10px;
    }
    .social-footer__div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        .social-footer__images {
            display: inline-block;
            width: 64px;
            margin: 15px;
            transition: all 0.3s ease;
        }
        .social-footer__images:hover {
            margin: 10px 10px 25px 10px;
        }
    }
}