.social-footer {
    background-color: $secondary-global-color;
    padding: 40px 0;
    height: 20vh;
    .social-footer__div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        .social-footer__images {
            display: inline-block;
            width: 64px;
            margin: 15px;
            transition: all 0.3s ease;
        }
        .social-footer__images:hover {
            margin: 10px 10px 25px 10px;
        }
    }
}

@media only screen and (max-width: 768px){
    .social-footer {
        .social-footer__div {
            .social-footer__images {
                width: 42px;
            }
        }
    }
}