.hero-merch {
    @include hero-section;
    .hero-merch__div {
        @include hero-div;
    }
}

@media only screen and (max-width: 700px){
    .hero-merch {
        @include hero-section--responsive;
        .hero-merch__div {
            @include hero-div--responsive;
        }
    }
}

.merch-page {
    background: url(../img/background.jpg) repeat fixed 100%;
    @include flex-section;
    .merch-page__tittle {
        @include tittle;
        width: $global-width;
    }
    .merch-page__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: $global-gap;
        margin: 0 auto;
        width: $global-width;
        .merch-page__product {
            @include card;
        }
    }
}

@media only screen and (max-width: 1200px){
    .merch-page {
        padding: $section-padding--responsive;
        .merch-page__tittle {
            @include tittle-responsive;
        }
        .merch-page__grid {
            grid-template-columns: repeat(2, 1fr);
            width: $global-width-responsive;
        }
    }
}