@mixin hero-section {
    background: url(../img/octafonic-banda.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin hero-div {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 72px;
    }
}

@mixin hero-section--responsive {
    background: linear-gradient(
        90deg,rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(../img/octafonic-banda.jpg);
    height: 25vh;
        padding-top: 0px;
        background-size: cover;
}

@mixin hero-div--responsive {
    h1 {
        font-size: 42px;
    }
}

@mixin flex-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $section-padding;    
}

@mixin card {
    img {
        width: 100%;
        &:hover {
            @include image-hover;
        }
    }
    h3 {
        text-align: left;
    }
    p {
        text-align: left;
        color: $primary-global-color;
    }
}

@mixin tittle {
    h2 {
        font-size: $tittle-size;
        padding: 35px 0;
        text-align: left;
    }
}

@mixin tittle-responsive {
    width: 90%;
    h2 {
        font-size: 28px;
        padding: 35px 0;
        text-align: center;
    }
}

@mixin btn {
    font-weight: 900;
    font-size: 24px;
    background-color: #f67723;
    padding: 20px 45px;
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 50px;
}

@mixin hover {
    background-color: #f67723c9;
    color: white;
}

@mixin image-hover {
    opacity: 0.75;
}

@mixin primary-font {
    color: white;
    font-family: 'Roboto', sans-serif;
}