.hero-shows {
    @include hero-section;
    .hero-shows__div {
        @include hero-div;
    }
}

@media only screen and (max-width: 1200px){
    .hero-shows {
        @include hero-section--responsive;
        .hero-shows__div {
            @include hero-div--responsive;
        }
    }
}

.shows-page {
    background: url(../img/background.jpg) repeat fixed 100%;
    @include flex-section;
    .shows-page__tittle {
        @include tittle;
        width: $global-width;
    }
    .shows-page__grid {
        display: grid;
        grid-template-columns: 70% 30%;
        justify-content: end;
        align-content: center;
        width: $global-width;
        border-bottom: solid 1px white;
        padding: 35px 0;
        .shows-page__datecolumn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .shows-page__date {
                font-weight: 500;
                font-size: 20px;
                text-align: left;
                margin-bottom: 5px;
            }
            .shows-page__place {
                font-weight: 500;
                font-size: 64px;
                line-height: 64px;
                text-align: left;
                padding: 0;
                margin: 0;
                line-height: 1;
            }
            .shows-page__location {
                font-weight: 800;
                font-size: 36px;
                color: #f67723;
                text-align: left;
                padding: 0;
                margin: 0;
            }
        }
        .shows-page__buybtn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }
    }
    .shows-page__grid--firts {
        border-top: solid 1px white;
    }
}


@media only screen and (max-width: 1200px){
    .shows-page {
        padding: $section-padding--responsive;
        .shows-page__tittle {
            @include tittle-responsive;
        }
        .shows-page__grid {
            grid-template-columns: 1fr;
            gap: 20px;
            width: $global-width-responsive;
            .shows-page__datecolumn {
                .shows-page__date {
                    align-self: center;
                }
                .shows-page__place {
                    align-self: center;
                    font-size: 56px;
                    text-align: center;
                }
                .shows-page__location {
                    font-size: 28px;
                    align-self: center;
                }
            }
            .shows-page__buybtn {
                align-items: center;
            }
        }
    }
}