$primary-global-color: #F47B22;
$secondary-global-color: #111111;
$global-width: 75%;
$global-width-responsive: 90%;
$tittle-size: 42px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}