@import "_variables.scss";
@import "_mixin.scss";
@import "_buttons.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_index-hero.scss";
@import "_index-buynow.scss";
@import "_index-videos.scss";
@import "_shows_main.scss";
@import "_merch-main.scss";
@import "_banda-main.scss";
@import "_discografia-album.scss";
@import "_contacto-main.scss";
@import "_footer-shows.scss";


@mixin section-padding {
    padding: 35px 0;
}

@mixin primary-font {
    color: white;
    font-family: 'Roboto', sans-serif;
}

@mixin secondary-font {
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $secondary-global-color;
    color: white;
    text-align: center;
    a {
        @include secondary-font;
        text-decoration: none;
    }
    P {
        @include primary-font;
        font-size: 16px;
    }
    h1 {
        @include primary-font;
        font-size: 56px;
    }
    h2 {
        @include primary-font;
    }
    h3 {
        @include primary-font;
    }
    h4 {
        @include primary-font;
    }
    h5 {
        @include primary-font;
    }
    h6 {
        @include primary-font;
    }
}

