@import "_variables.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_index-merch.scss";
@import "_index-buynow.scss";
@import "_shows_main.scss";
@import "_merch-main.scss";
@import "_contacto-main.scss";

@mixin btn {
        font-weight: 900;
        font-size: 26px;
        background-color: #f67723;
        padding: 30px 45px;
        transition: all 0.3s ease;
        display: inline-block;
}

@mixin hover {
    background-color: #f67723c9;
    color: white;
}

@mixin primary-font {
    color: white;
    font-family: 'Roboto', sans-serif;
}

@mixin secondary-font {
    color: white;
    font-family: 'Futura Now Text', sans-serif;
}

body {
    background-color: $secondary-global-color;
    color: white;
    text-align: center;
    a {
        @include secondary-font;
        text-decoration: none;
    }
    h1 {
        @include primary-font;
        font-size: 56px;
    }
    h2 {
        @include primary-font;
    }
    h3 {
        @include primary-font;
    }
    h4 {
        @include primary-font;
    }
    h5 {
        @include primary-font;
    }
    h6 {
        @include primary-font;
    }
}

.button {
    @include btn;
    &:hover {
        @include hover;
    }
}

.button-shows {
    @extend .button;
    &:hover {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 700px){
    .button-shows {
        width: 100%;
        &:hover {
            margin-right: 0px;
        }
    }
}