@media only screen and (max-width: 768px){
    .button {
        font-size: 20px;
        padding: 15px 10px;
    }
}

@media only screen and (max-width: 1280px){
    .shows {
        padding: 0 100px;
    }
}

.band-page__members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 170px;
    gap: 25px;
}

.band-page__tittle {
    display: block;
    padding: 15px 0;
}

.band-page img:hover {
    opacity: 0.75;
}

@media only screen and (max-width: 1280px){
    .band-page__members {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 80px;
    }
}

@media only screen and (max-width: 768px){
    .band-page__members {
        grid-template-columns: 1fr;
        padding: 0 40px;
    }
}

.band-page__disc {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 170px;
    gap: 25px;
}

.band-page__singles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 170px 100px 170px;
    gap: 25px;
}

.band-page__card img {
    width: 100%;
}

.discosSectionTittle, .miembrosTittle, .discosSectionTittle, .miembrosAntiguosTittle {
    align-self: center;
} 

.shows-footer {
    padding: 100px 0;
    background:
        linear-gradient(0deg, rgba(17, 17, 17, 1) 0%,rgba(17, 17, 17,0.5) 7%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%,rgba(17, 17, 17,1) 92%, rgba(17, 17, 17, 1) 100%),url(img/octafonic-banda5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shows-footer__image {
    width: 400px;
    margin: 50px;
} 

@media only screen and (max-width: 768px){
    .shows-footer__image {
        width: 70vw;
    }
}


.iframeSize iframe {
    width: 100%;
    height: 100%;
}


/* ESTILOS HERO */

.hero-main {
    background:
    linear-gradient(0deg, rgba(17, 17, 17, 1) 0%,rgba(17, 17, 17,0.5) 7%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%,rgba(17, 17, 17,1) 92%, rgba(17, 17, 17, 1) 100%),url(img/octafonic-banda5.jpg) repeat fixed 100%;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main__div {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-main__image {
    display: block;
    width: 35vw;
    margin: 25px;
}

@media only screen and (max-width: 1200px){
    .hero-main__image {
        width: 65vw;
    }
}

/* ESTILOS VIDEOS*/

.videos-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.videos-home__iframe {
    width: 560px;
    height: 560px;
    display: inline-block;
}

@media only screen and (max-width: 768px){
    .videos-home__iframe {
        width: 360px;
        height: 360px;
    }
}